#contact {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .contact__top {
      text-align: center;
      font-size: 40px;
      color: $white;
      font-weight: 600;
    }
  }

  .form {
    width: 100%;
    background-color: $background2;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: 500px 1fr;
    .contact-form {
      background-color: $primary1;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: $white;
        transform: rotate(45deg);
        top: 50px;
        left: -13px;
      }
      .circle {
        border-radius: 50%;
        background: linear-gradient(135deg, transparent 20%, $primary-overlay);
        position: absolute;
      }
      .circle.one {
        width: 130px;
        height: 130px;
        top: 130px;
        right: -40px;
      }
      .circle.two {
        width: 80px;
        height: 80px;
        top: 10px;
        right: 30px;
      }
      form {
        padding: 2.3rem 2.2rem;
        overflow: hidden;
        position: relative;
      }
      .title {
        color: $white;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 0.7rem;
      }

      .input-container {
        position: relative;
        margin: 1rem 0;
        .MuiFormControl-root {
          width: 100%;
          .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
            color: $white;
            font-family: Poppins;
          }
          .MuiFormLabel-root {
            font-family: Poppins;
            color: $text;
          }
          .MuiInputBase-root {
            border-radius: 20px;
            .MuiInputBase-input {
              font-family: Poppins;
              width: 100%;
              color: $white;
              font-weight: 500;
              font-size: 0.95rem;
              letter-spacing: 0.5px;
              transition: 0.3s;
            }
            .MuiOutlinedInput-notchedOutline {
              border: 2px solid $text;
            }
          }
          .MuiInputLabel-shrink {
            color: $white;
            background-color: $primary1;
            padding-right: 7px;
          }
          .Mui-focused {
            .MuiOutlinedInput-notchedOutline {
              border-color: $white;
            }
          }
        }
        textarea {
          padding-right: 5px;
          &::-webkit-scrollbar {
            width: 5px;
            border-radius: 20px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $white;
            border-radius: 20px;
          }
        }
      }
      .btn {
        padding: 0.6rem 1.3rem;
        background-color: $white;
        border: 2px solid $text;
        font-size: 0.95rem;
        color: $primary1;
        line-height: 1;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        margin: 0;
        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
    .contact-info {
      padding: 2.3rem 2.2rem;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 110px;
        height: 100px;
        border: 22px solid $primary1;
        border-radius: 50%;
        bottom: -77px;
        right: 50px;
        opacity: 0.3;
      }
      .title {
        color: $white;
        font-size: 1.5rem;
      }
      .text {
        color: $text2;
        width: 400px;
        line-height: normal;
        margin: 1.5rem 0 2rem 0;
      }
      .information {
        display: flex;
        color: $text;
        margin: 0.7rem 0;
        align-items: center;
        font-size: 0.95rem;
        gap: 10px;
        i {
          font-size: 1.3rem;
        }
      }

      .social-media {
        padding: 2rem 0 0 0;
        p {
          color: $text;
        }
        .social-icons {
          display: flex;
          margin-top: 0.5rem;
          a {
            text-decoration: none;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            background: linear-gradient(45deg, $primary1, $primary-overlay);
            color: $white;
            text-align: center;
            line-height: 35px;
            margin-right: 0.5rem;
            transition: 0.3s;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #contact {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact__container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .contact__top {
        text-align: center;
        font-size: 40px;
        color: $white;
        font-weight: 600;
      }
    }

    .form {
      width: 100%;
      background-color: $background2;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column-reverse;
      grid-template-columns: 250px 1fr;
      .contact-form {
        background-color: $primary1;
        position: relative;
        &:before {
          background-color: transparent;
        }
        .circle {
          border-radius: 50%;
          background: linear-gradient(
            135deg,
            transparent 20%,
            $primary-overlay
          );
          position: absolute;
        }
        .circle.one {
          width: 130px;
          height: 130px;
          top: 130px;
          right: -40px;
        }
        .circle.two {
          width: 80px;
          height: 80px;
          top: 10px;
          right: 30px;
        }
        form {
          padding: 2.3rem 2.2rem;
          overflow: hidden;
          position: relative;
        }
        .title {
          color: $white;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
          margin-bottom: 0.7rem;
        }

        .input-container {
          position: relative;
          margin: 1rem 0;
        }
        .btn {
          width: 100%;
          padding: 0.6rem 1.3rem;
          background-color: $white;
          border: 2px solid $text;
          font-size: 0.95rem;
          color: $primary1;
          line-height: 1;
          border-radius: 25px;
          outline: none;
          cursor: pointer;
          transition: 0.3s;
          margin: 0;
          &:hover {
            background-color: transparent;
            color: $white;
          }
        }
      }
      .contact-info {
        padding: 2.3rem 2.2rem;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 110px;
          height: 100px;
          border: 22px solid $primary1;
          border-radius: 50%;
          bottom: -77px;
          right: 50px;
          opacity: 0.3;
        }
        .title {
          color: $white;
          font-size: 1.5rem;
        }
        .text {
          color: $text2;
          width: initial;
          line-height: normal;
          margin: 1.5rem 0 2rem 0;
        }
        .information {
          display: flex;
          color: $text;
          margin: 0.7rem 0;
          align-items: center;
          font-size: 0.95rem;
          gap: 10px;
          i {
            font-size: 1.3rem;
          }
        }

        .social-media {
          padding: 2rem 0 0 0;
          p {
            color: $text;
          }
          .social-icons {
            display: flex;
            margin-top: 0.5rem;
            a {
              text-decoration: none;
              width: 35px;
              height: 35px;
              border-radius: 5px;
              background: linear-gradient(45deg, $primary1, $primary-overlay);
              color: $white;
              text-align: center;
              line-height: 35px;
              margin-right: 0.5rem;
              transition: 0.3s;
              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #contact {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact__container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .contact__top {
        text-align: center;
        font-size: 40px;
        color: $white;
        font-weight: 600;
      }
    }

    .form {
      width: 100%;
      background-color: $background2;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column-reverse;
      grid-template-columns: 250px 1fr;
      .contact-form {
        background-color: $primary1;
        position: relative;
        &:before {
          background-color: transparent;
        }
        .circle {
          border-radius: 50%;
          background: linear-gradient(
            135deg,
            transparent 20%,
            $primary-overlay
          );
          position: absolute;
        }
        .circle.one {
          width: 130px;
          height: 130px;
          top: 130px;
          right: -40px;
        }
        .circle.two {
          width: 80px;
          height: 80px;
          top: 10px;
          right: 30px;
        }
        form {
          padding: 2.3rem 2.2rem;
          overflow: hidden;
          position: relative;
        }
        .title {
          color: $white;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1;
          margin-bottom: 0.7rem;
        }

        .input-container {
          position: relative;
          margin: 1rem 0;
        }
        .btn {
          width: 100%;
          padding: 0.6rem 1.3rem;
          background-color: $white;
          border: 2px solid $text;
          font-size: 0.95rem;
          color: $primary1;
          line-height: 1;
          border-radius: 25px;
          outline: none;
          cursor: pointer;
          transition: 0.3s;
          margin: 0;
          &:hover {
            background-color: transparent;
            color: $white;
          }
        }
      }
      .contact-info {
        padding: 2.3rem 2.2rem;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 110px;
          height: 100px;
          border: 22px solid $primary1;
          border-radius: 50%;
          bottom: 100px;
          right: -100px;
          opacity: 0.3;
        }
        .title {
          color: $white;
          font-size: 1rem;
        }
        .text {
          color: $text2;
          width: initial;
          line-height: normal;
          font-size: 0.8rem;
          margin: 1rem 0 2rem 0;
        }
        .information {
          display: flex;
          color: $text;
          margin: 0.7rem 0;
          align-items: center;
          font-size: 0.8rem;
          gap: 10px;
          i {
            font-size: 1rem;
          }
        }

        .social-media {
          padding: 2rem 0 0 0;
          p {
            color: $text;
          }
          .social-icons {
            display: flex;
            margin-top: 0.5rem;
            a {
              text-decoration: none;
              width: 35px;
              height: 35px;
              border-radius: 5px;
              background: linear-gradient(45deg, $primary1, $primary-overlay);
              color: $white;
              text-align: center;
              line-height: 35px;
              margin-right: 0.5rem;
              transition: 0.3s;
              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}
