footer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footerBackground;
  .footer__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: $text3;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: $primary1;
      padding-bottom: 10px;
    }
    nav {
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            text-decoration: none;
            color: $text;
            transition: 0.4s;
          }
          &:hover {
            a {
              color: $primary1;
            }
          }
        }
      }
    }
    .footer__socials {
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
        color: $primary-overlay;

        i {
          background-color: $primary1;
          cursor: pointer;
          width: 50px;
          height: 50px;
          display: grid;
          place-items: center;
          font-size: 2rem;
          border-radius: 50%;
          transition: 0.8s;
          &:hover {
            transform: rotate(360deg) scale(1.2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $footerBackground;
    .footer__container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      color: $text3;
      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: $primary1;
        padding-bottom: 10px;
      }
      nav {
        ul {
          display: none;
          gap: 20px;
          li {
            a {
              text-decoration: none;
              color: $text;
              transition: 0.4s;
            }
            &:hover {
              a {
                color: $primary1;
              }
            }
          }
        }
      }
      .footer__socials {
        display: flex;
        gap: 20px;
        a {
          text-decoration: none;
          color: $primary-overlay;

          i {
            background-color: $primary1;
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;
            font-size: 2rem;
            border-radius: 50%;
            transition: 0.8s;
            &:hover {
              transform: rotate(360deg) scale(1.2);
            }
          }
        }
      }
    }
  }
}
