header {
  width: 100%;
  z-index: 10;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background1;
  .header__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      a {
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        font-weight: 800;
      }
    }
    nav {
      ul {
        display: flex;
        gap: 20px;
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: $text;
          font-weight: 600;
          position: relative;
          transition: 0.4s;
          &:hover {
            color: $primary1;
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary1;
            width: 0%;
            height: 4px;
            transition: 0.4s;
          }
        }
        .active-ul {
          color: $primary1;
          &::after {
            width: 100%;
          }
        }
      }
    }
    .hamburger-react {
      display: none;
    }
  }
}

.header-shadow {
  box-shadow: rgba(28, 28, 39, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    .header__container {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      nav {
        z-index: 1;
        transform: translateX(-10px);
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: $background2;
        display: flex;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
          a {
            font-size: 2rem;
            text-decoration: none;
            color: $text;
            font-weight: 600;
            position: relative;
            transition: 0.4s;
            &:hover {
              color: $primary1;
              &::after {
                width: 100%;
              }
            }
            &::after {
              content: "";
              position: absolute;
              bottom: -7px;
              left: 50%;
              transform: translateX(-50%);
              background-color: $primary1;
              width: 0%;
              height: 4px;
              transition: 0.4s;
            }
          }
          .active-ul {
            color: $primary1;
            &::after {
              width: 100%;
            }
          }
        }
      }
      .active-nav {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
      }

      .hamburger-react {
        z-index: 1;
        display: initial;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    .header__container {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__logo {
        a {
          font-size: 1.2rem;
        }
      }
      nav {
        z-index: 1;
        transform: translateX(-10px);
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: $background2;
        display: flex;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
          a {
            font-size: 2rem;
            text-decoration: none;
            color: $text;
            font-weight: 600;
            position: relative;
            transition: 0.4s;
            &:hover {
              color: $primary1;
              &::after {
                width: 100%;
              }
            }
            &::after {
              content: "";
              position: absolute;
              bottom: -7px;
              left: 50%;
              transform: translateX(-50%);
              background-color: $primary1;
              width: 0%;
              height: 4px;
              transition: 0.4s;
            }
          }
          .active-ul {
            color: $primary1;
            &::after {
              width: 100%;
            }
          }
        }
      }
      .active-nav {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
      }

      .hamburger-react {
        z-index: 1;
        display: initial;
        color: $white;
      }
    }
  }
}
