$primary1: #854ce6;
$background1: #1c1c27;
$background2: #191924;
$white: #fff;
$text: #f2f3f495;
$text1: #f2f3f4;
$text2: #626970;
$text3: #575c66;
$footerBackground: #1c1c27;
$primary-overlay: #231e36;
$card-color: #171721;
