@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #191924;
}

section {
  padding-top: 150px !important;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
input,
button,
textarea {
  font-family: "Poppins";
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #1c1c27;
  z-index: 11;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.pl {
  width: 11em;
  height: 10em;
}

.pl__ring,
.pl__worm1,
.pl__worm2,
.pl__worm3 {
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.pl__ring {
  stroke: hsla(223, 10%, 10%, 0.1);
  transition: stroke 0.3s;
}

.pl__worm1 {
  animation-name: worm1;
}

.pl__worm2 {
  animation-name: worm2;
  transform-origin: 32px 88px;
}

.pl__worm3 {
  animation-name: worm3;
  transform-origin: 144px 88px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223, 10%, 10%);
    --fg: hsl(223, 10%, 90%);
  }
  .pl__ring {
    stroke: #232332;
  }
}
/* Animations */
@keyframes worm1 {
  from {
    animation-timing-function: ease-out;
    stroke-dashoffset: 43.98;
  }
  12.5% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -131.95;
  }
  25% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 0;
  }
  37.5%, 50% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -175.93;
  }
  62.5% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
  }
  75% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -131.95;
  }
  87.5%, to {
    stroke-dashoffset: 43.98;
  }
}
@keyframes worm2 {
  from, 35.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 40 0 44;
    visibility: hidden;
    transform: translate(0, 0) rotate(0);
  }
  37.5% {
    animation-timing-function: ease-out;
    stroke-dasharray: 0 40 44 0;
    visibility: visible;
    transform: translate(0, 0) rotate(0);
  }
  47.5% {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -80px) rotate(360deg);
  }
  50% {
    animation-timing-function: linear;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(360deg);
  }
  52.5%, to {
    stroke-dasharray: 0 42 0 42;
    visibility: hidden;
    transform: translate(0, 12px) rotate(360deg);
  }
}
@keyframes worm3 {
  from {
    animation-timing-function: linear;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(0);
  }
  2.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 42 0 42;
    visibility: hidden;
    transform: translate(0, 12px) rotate(0);
  }
  85.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 40 0 44;
    visibility: hidden;
    transform: translate(0, 0) rotate(0);
  }
  87.5% {
    animation-timing-function: ease-out;
    stroke-dasharray: 0 40 44 0;
    visibility: visible;
    transform: translate(0, 0) rotate(0);
  }
  97.5% {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -80px) rotate(-360deg);
  }
  to {
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(-360deg);
  }
}
.Toastify .Toastify__toast-container .Toastify__toast-theme--dark {
  background-color: #232332;
}
.Toastify .Toastify__toast-container .Toastify__toast-theme--dark .Toastify__toast-body div:last-child {
  font-family: Poppins;
}

footer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c27;
}
footer .footer__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #575c66;
}
footer .footer__container h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #854ce6;
  padding-bottom: 10px;
}
footer .footer__container nav ul {
  display: flex;
  gap: 20px;
}
footer .footer__container nav ul li a {
  text-decoration: none;
  color: rgba(242, 243, 244, 0.5843137255);
  transition: 0.4s;
}
footer .footer__container nav ul li:hover a {
  color: #854ce6;
}
footer .footer__container .footer__socials {
  display: flex;
  gap: 20px;
}
footer .footer__container .footer__socials a {
  text-decoration: none;
  color: #231e36;
}
footer .footer__container .footer__socials a i {
  background-color: #854ce6;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.8s;
}
footer .footer__container .footer__socials a i:hover {
  transform: rotate(360deg) scale(1.2);
}

@media screen and (max-width: 600px) {
  footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c27;
  }
  footer .footer__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #575c66;
  }
  footer .footer__container h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #854ce6;
    padding-bottom: 10px;
  }
  footer .footer__container nav ul {
    display: none;
    gap: 20px;
  }
  footer .footer__container nav ul li a {
    text-decoration: none;
    color: rgba(242, 243, 244, 0.5843137255);
    transition: 0.4s;
  }
  footer .footer__container nav ul li:hover a {
    color: #854ce6;
  }
  footer .footer__container .footer__socials {
    display: flex;
    gap: 20px;
  }
  footer .footer__container .footer__socials a {
    text-decoration: none;
    color: #231e36;
  }
  footer .footer__container .footer__socials a i {
    background-color: #854ce6;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.8s;
  }
  footer .footer__container .footer__socials a i:hover {
    transform: rotate(360deg) scale(1.2);
  }
}
header {
  width: 100%;
  z-index: 10;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c1c27;
}
header .header__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__container .header__logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
header .header__container nav ul {
  display: flex;
  gap: 20px;
}
header .header__container nav ul a {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(242, 243, 244, 0.5843137255);
  font-weight: 600;
  position: relative;
  transition: 0.4s;
}
header .header__container nav ul a:hover {
  color: #854ce6;
}
header .header__container nav ul a:hover::after {
  width: 100%;
}
header .header__container nav ul a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #854ce6;
  width: 0%;
  height: 4px;
  transition: 0.4s;
}
header .header__container nav ul .active-ul {
  color: #854ce6;
}
header .header__container nav ul .active-ul::after {
  width: 100%;
}
header .header__container .hamburger-react {
  display: none;
}

.header-shadow {
  box-shadow: rgba(28, 28, 39, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  header .header__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header__container nav {
    z-index: 1;
    transform: translateX(-10px);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #191924;
    display: flex;
    justify-content: center;
  }
  header .header__container nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  header .header__container nav ul a {
    font-size: 2rem;
    text-decoration: none;
    color: rgba(242, 243, 244, 0.5843137255);
    font-weight: 600;
    position: relative;
    transition: 0.4s;
  }
  header .header__container nav ul a:hover {
    color: #854ce6;
  }
  header .header__container nav ul a:hover::after {
    width: 100%;
  }
  header .header__container nav ul a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #854ce6;
    width: 0%;
    height: 4px;
    transition: 0.4s;
  }
  header .header__container nav ul .active-ul {
    color: #854ce6;
  }
  header .header__container nav ul .active-ul::after {
    width: 100%;
  }
  header .header__container .active-nav {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  header .header__container .hamburger-react {
    z-index: 1;
    display: initial;
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  header .header__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header__container .header__logo a {
    font-size: 1.2rem;
  }
  header .header__container nav {
    z-index: 1;
    transform: translateX(-10px);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #191924;
    display: flex;
    justify-content: center;
  }
  header .header__container nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  header .header__container nav ul a {
    font-size: 2rem;
    text-decoration: none;
    color: rgba(242, 243, 244, 0.5843137255);
    font-weight: 600;
    position: relative;
    transition: 0.4s;
  }
  header .header__container nav ul a:hover {
    color: #854ce6;
  }
  header .header__container nav ul a:hover::after {
    width: 100%;
  }
  header .header__container nav ul a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #854ce6;
    width: 0%;
    height: 4px;
    transition: 0.4s;
  }
  header .header__container nav ul .active-ul {
    color: #854ce6;
  }
  header .header__container nav ul .active-ul::after {
    width: 100%;
  }
  header .header__container .active-nav {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  header .header__container .hamburger-react {
    z-index: 1;
    display: initial;
    color: #fff;
  }
}
#about {
  color: #fff;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c27;
  position: relative;
  transition: 0.4s;
  z-index: 0;
}
#about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #191924;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}
#about .hero__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#about .hero__container .hero__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  line-height: 32px;
  color: rgba(242, 243, 244, 0.5843137255);
}
#about .hero__container .hero__left h1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
#about .hero__container .hero__left div {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: 32px;
}
#about .hero__container .hero__left div span {
  color: #854ce6;
}
#about .hero__container .hero__left p {
  color: rgba(242, 243, 244, 0.5843137255);
}
#about .hero__container .hero__left a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #fff;
}
#about .hero__container .hero__right {
  display: flex;
  flex-direction: column;
}
#about .hero__container .hero__right svg {
  height: 400px;
}
#about .hero__container .hero__right .hero__right-image {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#about .hero__container .hero__right .hero__right-image img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  #about {
    color: #fff;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .hero__container {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 70px;
  }
  #about .hero__container .hero__left {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    line-height: 32px;
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #about .hero__container .hero__left h1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
  }
  #about .hero__container .hero__left div {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 32px;
  }
  #about .hero__container .hero__left div span {
    color: #854ce6;
  }
  #about .hero__container .hero__left p {
    width: 75%;
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #about .hero__container .hero__left a {
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    color: #fff;
  }
  #about .hero__container .hero__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .hero__container .hero__right svg {
    height: 400px;
  }
  #about .hero__container .hero__right .hero__right-image {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  #about .hero__container .hero__right .hero__right-image img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
}
@media screen and (max-width: 600px) {
  #about {
    color: #fff;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .hero__container {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }
  #about .hero__container .hero__left {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 32px;
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #about .hero__container .hero__left h1 {
    display: flex;
    flex-direction: column;
    gap: initial;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
  }
  #about .hero__container .hero__left div {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-weight: 600;
    font-size: 1.4rem;
  }
  #about .hero__container .hero__left div span {
    color: #854ce6;
  }
  #about .hero__container .hero__left p {
    padding-top: 10px;
    width: 75%;
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #about .hero__container .hero__left a {
    padding-top: 20px;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    color: #fff;
  }
  #about .hero__container .hero__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .hero__container .hero__right svg {
    height: 300px;
  }
  #about .hero__container .hero__right .hero__right-image {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  #about .hero__container .hero__right .hero__right-image img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
}
#skills {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: #1c1c27;
  align-items: center;
  color: #f2f3f4;
  transition: 0.4s;
}
#skills .skills__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
#skills .skills__container .skills__top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#skills .skills__container .skills__top h1 {
  font-weight: 600;
  font-size: 40px;
}
#skills .skills__container .skills__top p {
  color: rgba(242, 243, 244, 0.5843137255);
  font-size: 18px;
  line-height: normal;
}
#skills .skills__container .skills__bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#skills .skills__container .skills__bottom .skill__row {
  padding: 5px 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 7px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}
#skills .skills__container .skills__bottom .skill__row:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-color: #854ce6;
}
#skills .skills__container .skills__bottom .skill__row .skill__icon {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .skills__container .skills__bottom .skill__row .skill__icon img {
  width: 20px;
}

#experience {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#experience .experience__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 50px;
}
#experience .experience__container .experience__top {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
#experience .experience__container .experience__top h1 {
  font-weight: 600;
  font-size: 40px;
}
#experience .experience__container .experience__top p {
  color: rgba(242, 243, 244, 0.5843137255);
  font-size: 18px;
  line-height: normal;
}
#experience .experience__container .experience__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.4s;
}
#experience .experience__container .experience__bottom .experience__card {
  width: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 10px;
  transition: 0.4s;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-left span {
  background-color: #fff;
  width: 100%;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-left span:first-child {
  height: 10px;
  border-radius: 50%;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-left span:last-child {
  border-radius: 10px;
  transition: 0.4s;
  width: 5px;
  height: 100%;
  background: rgba(133, 76, 230, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right {
  border: 1px solid rgba(242, 243, 244, 0.5843137255);
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right:hover {
  box-shadow: rgba(133, 76, 230, 0.3) 0px 0px 0px 3px;
  border-color: transparent;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top {
  display: flex;
  gap: 10px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title h1 {
  color: rgba(242, 243, 244, 0.5843137255);
  font-weight: 600;
  font-size: 18px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title h2 {
  color: #626970;
  font-size: 14px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title p {
  color: #575c66;
  font-size: 12px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content {
  display: flex;
  transition: 0.4s;
  flex-direction: column;
  gap: 5px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p {
  color: rgba(242, 243, 244, 0.5843137255);
  line-height: 1.3;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p span {
  padding: 0;
  padding-left: 5px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p span:hover {
  opacity: 0.7;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills {
  display: flex;
  gap: 20px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills p {
  font-weight: 600;
  color: rgba(242, 243, 244, 0.5843137255);
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills ul {
  color: #626970;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills ul li {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.1;
  height: -moz-fit-content;
  height: fit-content;
  color: #854ce6;
  background-color: #231e36;
}

@media screen and (max-width: 1000px) {
  #experience {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  #experience .experience__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 50px;
  }
  #experience .experience__container .experience__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  #experience .experience__container .experience__top h1 {
    font-weight: 600;
    font-size: 40px;
  }
  #experience .experience__container .experience__top p {
    color: rgba(242, 243, 244, 0.5843137255);
    font-size: 18px;
  }
  #experience .experience__container .experience__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.4s;
  }
  #experience .experience__container .experience__bottom .experience__card {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 10px;
    transition: 0.4s;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left span {
    background-color: #fff;
    width: 100%;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left span:first-child {
    height: 10px;
    border-radius: 50%;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left span:last-child {
    border-radius: 10px;
    transition: 0.4s;
    width: 5px;
    height: 100%;
    background: rgba(133, 76, 230, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right {
    border: 1px solid rgba(242, 243, 244, 0.5843137255);
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right:hover {
    box-shadow: rgba(133, 76, 230, 0.3) 0px 0px 0px 3px;
    border-color: transparent;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top {
    display: flex;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title h1 {
    color: rgba(242, 243, 244, 0.5843137255);
    font-weight: 600;
    font-size: 18px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title h2 {
    color: #626970;
    font-size: 14px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title p {
    color: #575c66;
    font-size: 12px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content {
    display: flex;
    transition: 0.4s;
    flex-direction: column;
    gap: 5px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p {
    color: rgba(242, 243, 244, 0.5843137255);
    line-height: 1.3;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p span {
    padding: 0;
    padding-left: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p span:hover {
    opacity: 0.7;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills {
    display: flex;
    gap: 20px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills p {
    font-weight: 600;
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills ul {
    color: #626970;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills ul li {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.1;
    height: -moz-fit-content;
    height: fit-content;
    color: #854ce6;
    background-color: #231e36;
  }
}
@media screen and (max-width: 600px) {
  #experience {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  #experience .experience__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 50px;
  }
  #experience .experience__container .experience__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  #experience .experience__container .experience__top h1 {
    font-weight: 600;
    font-size: 40px;
  }
  #experience .experience__container .experience__top p {
    color: rgba(242, 243, 244, 0.5843137255);
    font-size: 18px;
  }
  #experience .experience__container .experience__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.4s;
  }
  #experience .experience__container .experience__bottom .experience__card {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 10px;
    transition: 0.4s;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left span {
    background-color: #fff;
    width: 100%;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left span:first-child {
    height: 10px;
    border-radius: 50%;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-left span:last-child {
    border-radius: 10px;
    transition: 0.4s;
    width: 5px;
    height: 100%;
    background: rgba(133, 76, 230, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right {
    border: 1px solid rgba(242, 243, 244, 0.5843137255);
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right:hover {
    box-shadow: rgba(133, 76, 230, 0.3) 0px 0px 0px 3px;
    border-color: transparent;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title h1 {
    color: rgba(242, 243, 244, 0.5843137255);
    font-weight: 600;
    font-size: 16px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title h2 {
    color: #626970;
    font-size: 12px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-top .experience__card-title p {
    color: #575c66;
    font-size: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content {
    display: flex;
    transition: 0.4s;
    flex-direction: column;
    gap: 5px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p {
    color: rgba(242, 243, 244, 0.5843137255);
    line-height: 1.3;
    font-size: 12px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p span {
    padding: 0;
    padding-left: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-content p span:hover {
    opacity: 0.7;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills p {
    font-weight: 600;
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills ul {
    color: #626970;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  #experience .experience__container .experience__bottom .experience__card .experience__card-right .experience__card-bottom .experience__card-skills ul li {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.1;
    height: -moz-fit-content;
    height: fit-content;
    color: #854ce6;
    background-color: #231e36;
  }
}
#projects {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#projects .projects__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #fff;
}
#projects .projects__container .projects__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
#projects .projects__container .projects__top h1 {
  font-weight: 600;
  font-size: 40px;
}
#projects .projects__container .projects__top p {
  color: rgba(242, 243, 244, 0.5843137255);
  font-size: 18px;
  line-height: normal;
}
#projects .projects__container .projects__bottom {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#projects .projects__container .projects__bottom nav {
  display: flex;
  justify-content: center;
}
#projects .projects__container .projects__bottom nav div p {
  display: none;
}
#projects .projects__container .projects__bottom nav div ul {
  border: 1px solid #854ce6;
  border-radius: 20px;
  display: flex;
}
#projects .projects__container .projects__bottom nav div ul li {
  transition: 0.4s;
  cursor: pointer;
  border-left: 1px solid #854ce6;
  border-right: 1px solid #854ce6;
  padding: 10px 20px;
  color: #854ce6;
}
#projects .projects__container .projects__bottom nav div ul li:hover {
  background-color: #854ce6;
  color: #fff;
}
#projects .projects__container .projects__bottom nav div ul li:first-child {
  border-left: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#projects .projects__container .projects__bottom nav div ul li:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: none;
}
#projects .projects__container .projects__bottom nav div ul .active-tab {
  background-color: #854ce6;
  color: #fff;
}
#projects .projects__container .projects__bottom .projects__list {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
#projects .projects__container .projects__bottom .projects__list .projects__row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #171721;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}
#projects .projects__container .projects__bottom .projects__list .projects__row img {
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 55px;
  overflow-y: auto;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills::-webkit-scrollbar {
  background-color: #1c1c27;
  width: 5px;
  border-radius: 20px;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills::-webkit-scrollbar-thumb {
  background-color: #854ce6;
  border-radius: 20px;
  width: 5px;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills li {
  padding: 5px 10px;
  background-color: #231e36;
  color: #854ce6;
  font-size: 0.8rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content h1 {
  color: rgba(242, 243, 244, 0.5843137255);
  font-weight: 600;
  font-size: 20px;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content h3 {
  font-size: 12px;
  color: #626970;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content .projects__row-buttons {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  gap: 20px;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content .projects__row-buttons a {
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  transition: 0.4s;
  background-color: #854ce6;
  color: #fff;
}
#projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content .projects__row-buttons a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  #projects {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  #projects .projects__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: #fff;
  }
  #projects .projects__container .projects__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #projects .projects__container .projects__top h1 {
    font-weight: 600;
    font-size: 40px;
  }
  #projects .projects__container .projects__top p {
    color: rgba(242, 243, 244, 0.5843137255);
    font-size: 18px;
  }
  #projects .projects__container .projects__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #projects .projects__container .projects__bottom nav {
    width: 100%;
    justify-content: center;
    transition: 0.4s;
  }
  #projects .projects__container .projects__bottom nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    transition: 0.4s;
  }
  #projects .projects__container .projects__bottom nav div p {
    position: relative;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: 1px solid #854ce6;
    background-color: #231e36;
  }
  #projects .projects__container .projects__bottom nav div p i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    transition: 0.4s;
  }
  #projects .projects__container .projects__bottom nav div p .arrow-up {
    transform: translateY(-50%) rotate(180deg);
  }
  #projects .projects__container .projects__bottom nav div ul {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: 0.4s;
    border: none;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  #projects .projects__container .projects__bottom nav div ul li {
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid #854ce6 !important;
    padding: 10px 10px;
    border-radius: 20px;
    color: #854ce6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  #projects .projects__container .projects__bottom nav div ul li:hover {
    background-color: transparent;
    color: #854ce6;
  }
  #projects .projects__container .projects__bottom nav div ul .active-tab {
    background-color: transparent;
    color: #854ce6;
  }
  #projects .projects__container .projects__bottom nav div .ul-active {
    height: 185px;
    opacity: 1;
    visibility: visible;
  }
  #projects .projects__container .projects__bottom .projects__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #171721;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row img {
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 50px;
    overflow-y: auto;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills::-webkit-scrollbar {
    background-color: #1c1c27;
    width: 5px;
    border-radius: 20px;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills::-webkit-scrollbar-thumb {
    background-color: #854ce6;
    border-radius: 20px;
    width: 5px;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-skills li {
    padding: 5px 10px;
    background-color: #231e36;
    color: #854ce6;
    font-size: 0.8rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content h1 {
    color: rgba(242, 243, 244, 0.5843137255);
    font-weight: 600;
    font-size: 20px;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content h3 {
    font-size: 12px;
    color: #626970;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content .projects__row-buttons {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    gap: 20px;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content .projects__row-buttons a {
    text-decoration: none;
    padding: 10px;
    font-size: 0.7rem;
    border-radius: 20px;
    transition: 0.4s;
    background-color: #854ce6;
    color: #fff;
  }
  #projects .projects__container .projects__bottom .projects__list .projects__row .projects__row-content .projects__row-buttons a:hover {
    opacity: 0.5;
  }
}
#contact {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#contact .contact__container .contact__top {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}
#contact .form {
  width: 100%;
  background-color: #191924;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 500px 1fr;
}
#contact .form .contact-form {
  background-color: #854ce6;
  position: relative;
}
#contact .form .contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}
#contact .form .contact-form .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #231e36);
  position: absolute;
}
#contact .form .contact-form .circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}
#contact .form .contact-form .circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}
#contact .form .contact-form form {
  padding: 2.3rem 2.2rem;
  overflow: hidden;
  position: relative;
}
#contact .form .contact-form .title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}
#contact .form .contact-form .input-container {
  position: relative;
  margin: 1rem 0;
}
#contact .form .contact-form .input-container .MuiFormControl-root {
  width: 100%;
}
#contact .form .contact-form .input-container .MuiFormControl-root .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff;
  font-family: Poppins;
}
#contact .form .contact-form .input-container .MuiFormControl-root .MuiFormLabel-root {
  font-family: Poppins;
  color: rgba(242, 243, 244, 0.5843137255);
}
#contact .form .contact-form .input-container .MuiFormControl-root .MuiInputBase-root {
  border-radius: 20px;
}
#contact .form .contact-form .input-container .MuiFormControl-root .MuiInputBase-root .MuiInputBase-input {
  font-family: Poppins;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  transition: 0.3s;
}
#contact .form .contact-form .input-container .MuiFormControl-root .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border: 2px solid rgba(242, 243, 244, 0.5843137255);
}
#contact .form .contact-form .input-container .MuiFormControl-root .MuiInputLabel-shrink {
  color: #fff;
  background-color: #854ce6;
  padding-right: 7px;
}
#contact .form .contact-form .input-container .MuiFormControl-root .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}
#contact .form .contact-form .input-container textarea {
  padding-right: 5px;
}
#contact .form .contact-form .input-container textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
#contact .form .contact-form .input-container textarea::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
}
#contact .form .contact-form .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid rgba(242, 243, 244, 0.5843137255);
  font-size: 0.95rem;
  color: #854ce6;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
#contact .form .contact-form .btn:hover {
  background-color: transparent;
  color: #fff;
}
#contact .form .contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}
#contact .form .contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #854ce6;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}
#contact .form .contact-info .title {
  color: #fff;
  font-size: 1.5rem;
}
#contact .form .contact-info .text {
  color: #626970;
  width: 400px;
  line-height: normal;
  margin: 1.5rem 0 2rem 0;
}
#contact .form .contact-info .information {
  display: flex;
  color: rgba(242, 243, 244, 0.5843137255);
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
  gap: 10px;
}
#contact .form .contact-info .information i {
  font-size: 1.3rem;
}
#contact .form .contact-info .social-media {
  padding: 2rem 0 0 0;
}
#contact .form .contact-info .social-media p {
  color: rgba(242, 243, 244, 0.5843137255);
}
#contact .form .contact-info .social-media .social-icons {
  display: flex;
  margin-top: 0.5rem;
}
#contact .form .contact-info .social-media .social-icons a {
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #854ce6, #231e36);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
#contact .form .contact-info .social-media .social-icons a:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  #contact {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact .contact__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #contact .contact__container .contact__top {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
  }
  #contact .form {
    width: 100%;
    background-color: #191924;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 250px 1fr;
  }
  #contact .form .contact-form {
    background-color: #854ce6;
    position: relative;
  }
  #contact .form .contact-form:before {
    background-color: transparent;
  }
  #contact .form .contact-form .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #231e36);
    position: absolute;
  }
  #contact .form .contact-form .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  #contact .form .contact-form .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  #contact .form .contact-form form {
    padding: 2.3rem 2.2rem;
    overflow: hidden;
    position: relative;
  }
  #contact .form .contact-form .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  #contact .form .contact-form .input-container {
    position: relative;
    margin: 1rem 0;
  }
  #contact .form .contact-form .btn {
    width: 100%;
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid rgba(242, 243, 244, 0.5843137255);
    font-size: 0.95rem;
    color: #854ce6;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  #contact .form .contact-form .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  #contact .form .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  #contact .form .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #854ce6;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  #contact .form .contact-info .title {
    color: #fff;
    font-size: 1.5rem;
  }
  #contact .form .contact-info .text {
    color: #626970;
    width: initial;
    line-height: normal;
    margin: 1.5rem 0 2rem 0;
  }
  #contact .form .contact-info .information {
    display: flex;
    color: rgba(242, 243, 244, 0.5843137255);
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
    gap: 10px;
  }
  #contact .form .contact-info .information i {
    font-size: 1.3rem;
  }
  #contact .form .contact-info .social-media {
    padding: 2rem 0 0 0;
  }
  #contact .form .contact-info .social-media p {
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #contact .form .contact-info .social-media .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  #contact .form .contact-info .social-media .social-icons a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #854ce6, #231e36);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  #contact .form .contact-info .social-media .social-icons a:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #contact {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact .contact__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #contact .contact__container .contact__top {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
  }
  #contact .form {
    width: 100%;
    background-color: #191924;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 250px 1fr;
  }
  #contact .form .contact-form {
    background-color: #854ce6;
    position: relative;
  }
  #contact .form .contact-form:before {
    background-color: transparent;
  }
  #contact .form .contact-form .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #231e36);
    position: absolute;
  }
  #contact .form .contact-form .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  #contact .form .contact-form .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  #contact .form .contact-form form {
    padding: 2.3rem 2.2rem;
    overflow: hidden;
    position: relative;
  }
  #contact .form .contact-form .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  #contact .form .contact-form .input-container {
    position: relative;
    margin: 1rem 0;
  }
  #contact .form .contact-form .btn {
    width: 100%;
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid rgba(242, 243, 244, 0.5843137255);
    font-size: 0.95rem;
    color: #854ce6;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  #contact .form .contact-form .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  #contact .form .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  #contact .form .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #854ce6;
    border-radius: 50%;
    bottom: 100px;
    right: -100px;
    opacity: 0.3;
  }
  #contact .form .contact-info .title {
    color: #fff;
    font-size: 1rem;
  }
  #contact .form .contact-info .text {
    color: #626970;
    width: initial;
    line-height: normal;
    font-size: 0.8rem;
    margin: 1rem 0 2rem 0;
  }
  #contact .form .contact-info .information {
    display: flex;
    color: rgba(242, 243, 244, 0.5843137255);
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.8rem;
    gap: 10px;
  }
  #contact .form .contact-info .information i {
    font-size: 1rem;
  }
  #contact .form .contact-info .social-media {
    padding: 2rem 0 0 0;
  }
  #contact .form .contact-info .social-media p {
    color: rgba(242, 243, 244, 0.5843137255);
  }
  #contact .form .contact-info .social-media .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  #contact .form .contact-info .social-media .social-icons a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #854ce6, #231e36);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  #contact .form .contact-info .social-media .social-icons a:hover {
    transform: scale(1.05);
  }
}